
body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {

    border-radius: 30px;

    height: 340px;
    background: #161616;
    margin-left: 100px;
    margin-right: 100px;

}


.flexible-cotainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.half-width {
    width: 35%;
    padding-left: 8%;
    
}
h1{
    margin-top: 40px;
}
p{
 font-size: 8px;
 height: 80px;
 margin-top: 40px;
}




.link-button {
    text-decoration: none;
    color: white;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
}
.small-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-end;
    width: 70px;
    height: 80px;
    padding: 30px;
    margin-left: 100px;
    background: #161616;
    border-radius: 10px;
}
.text{
    width: 70px;
    height: 64px;
    border-radius: 5px;
    b
}
.text-3{
    background-color: #DD0000;
    border-radius: 5px;
}

